.width5 {
  width: 5%;
}

.width2 {
	width: 2%;
}

.width1 {
	width: 1%;
}

.width3 {
	width: 3%;
}

.width32 {
	width: 32%;
}

.width31 {
	width: 31%;
}

.width30 {
	width: 30%;
}

.width67 {
	width: 67%;
}

.height5 {
	height: 5%;
}

.height25 {
	height: 25%;
}

.height70 {
	height: 70%;
}

.width25 {
	width: 25%;
}

.width70 {
	width: 70%;
}

.width80 {
	width: 80%;
}

.height95 {
	height: 95%;
}

.height2 {
	height: 2%;
}

.height10 {
	height: 10%;
}

.height90 {
	height: 90%;
}
