.backgroundImage {
  background-image: url('../../../public/images/background-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}